rules_version = '2'
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{usersId}{ 
      allow create: if request.auth.uid == null; //if the user is null ie not logged in let them create an acc
      allow update: if request.auth.uid == userId
    }
    match /chats/{chatsId}{ 
      allow create: if request.auth.uid in resource.data.chatsId.userId;
      allow update: if request.auth.uid in resource.data.chatsId.userId;
    }
    match /listings/{listingsId}{ 
      allow create: if request.resource.data.listingsId.userId
      == request.auth.uid;
      allow update: if resource.data.listingsId.userId ==
      request.auth.uid;
      allow delete: if resource.data.listingsI.userId ==
      request.auth.uid;
    }
  }
}

//resource.data is for docs that are already in the db
//request.resource.data is for new docs
//get and list ---> allow read
//create, delete, update ---> write